{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% import "partials/render_alert.html" as macros %}

{% block title %}Optimus - Login{% endblock %}

{% block page_content %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3 auth-login-form">
            <div class="row">
                <h1 class="text-center">Login</h1>
                <hr>
                <div class="col-sm-10 col-sm-offset-1">
                    {{ macros.render_alert('alert-danger') }}
                </div>
                <div class="col-sm-8 col-sm-offset-2">
                    {{ wtf.quick_form(form) }}
                    <br/>
                    No account?
                    <a href="{{ url_for('auth.signup') }}">Create account</a>
                    <br>
                    <a href="{{ url_for('auth.twitter_login') }}"><img
                            src="{{ url_for('static', filename='images/sign-in.png') }}"
                            alt="sign in"></a>;
                    {#Forgot your password?#}
                    {# <a href="{{ url_for('auth.password_reset') }}">Click Here.</a>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
