{% extends "bootstrap/base.html" %} {% block title %}Flasky{% endblock %} {% block head %} {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/app.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"> {% endblock %}
{% block navbar %}
    <header>
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img style="max-width:120px;margin-top: -7px;"
                     src="{{ url_for('static',filename='images/optimuslogo.png' ) }}">
            </a>
        </div>
        <div class="container-fluid">
            <a href="{{ url_for('main.index') }}">
                <button type="button" id="btn" class="btn btn-dark" aria-label="Left Align"
                        style="margin-top: 5px;margin-bottom: 5px;height: 44px;margin-right: 15px">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    Optimus Home
                </button>
            </a>

            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('auth.logout') }}"><span
                            class="glyphicon glyphicon-log-out"></span>Log Out</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.login') }}"><span
                            class="glyphicon glyphicon-log-in"></span>Log In</a></li>
                {% endif %}
                <li><a href="{{ url_for('auth.signup') }}"><span
                        class="glyphicon glyphicon-pencil"></span>Sign up</a></li>
            </ul>


        </div>
    </header>
{% endblock %} {% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %} {% block page_content %}{% endblock %}
    </div>
{% endblock %} {% block scripts %} {{ super() }} {{ moment.include_moment() }} {% endblock %}
