<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Optimus</title>
    <link rel="apple-touch-icon" sizes="57x57" href={{ url_for('static',filename='images/apple-icon-57x57.png') }}>
    <link rel="apple-touch-icon" sizes="60x60" href={{ url_for('static',filename='images/apple-icon-60x60.png') }}>
    <link rel="apple-touch-icon" sizes="72x72" href={{ url_for('static',filename='images/apple-icon-72x72.png') }}>
    <link rel="apple-touch-icon" sizes="76x76" href={{ url_for('static',filename='images/apple-icon-76x76.png') }}>
    <link rel="apple-touch-icon" sizes="114x114" href={{ url_for('static',filename='images/apple-icon-114x114.png') }}>
    <link rel="apple-touch-icon" sizes="120x120" href={{ url_for('static',filename='images/apple-icon-120x120.png') }}>
    <link rel="apple-touch-icon" sizes="144x144" href={{ url_for('static',filename='images/apple-icon-144x144.png') }}>
    <link rel="apple-touch-icon" sizes="152x152" href={{ url_for('static',filename='images/apple-icon-152x152.png') }}>
    <link rel="apple-touch-icon" sizes="180x180" href={{ url_for('static',filename='images/apple-icon-180x180.png') }}>
    <link rel="icon" type="image/png" sizes="192x192"
          href={{ url_for('static',filename='images/android-icon-192x192.png') }}>
    <link rel="icon" type="image/png" sizes="32x32" href={{ url_for('static',filename='images/favicon-32x32.png') }}>
    <link rel="icon" type="image/png" sizes="96x96" href={{ url_for('static',filename='images/favicon-96x96.png') }}>
    <link rel="icon" type="image/png" sizes="16x16" href={{ url_for('static',filename='images/favicon-16x16.png') }}>
    <link rel="manifest" href="images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/app.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}">
</head>
<header>
    <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <img style="max-width:120px;margin-top: -7px;"
                 src="{{ url_for('static',filename='images/optimuslogo.png' ) }}">
        </a>
    </div>
    <div class="container-fluid">
        <a href="/catalog/">
            <button type="button" id="btn" class="btn btn-dark" aria-label="Left Align"
                    style="margin-top: 5px;margin-bottom: 5px;height: 44px;margin-right: 15px">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                Optimus Catalog
            </button>
        </a>
        <ul class="nav navbar-nav navbar-right">
            <div style="margin-right: 10px;margin-left: 15px;margin-top:5px;margin-bottom: 5px;"
                 class="container-fluid">
                <h5>
                    <a role="presentation" data-toggle="modal" data-target="#optimusModal" href="#"><span
                            class="glyphicon glyphicon-log-in"></span>Login </a>
                    <div class="modal fade" id="optimusModal" tabindex="-1" role="dialog"
                         aria-labelledby="optimusModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">x</span></button>
                                    <h4 class="modal-title text-center login-title" id="optimusModalLabel">Login</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <img class="profile-img"
                                             src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                                             alt="Profile image">
                                        <form action="" class="form-login" method="post">
                                            <input type="text" class="form-control" placeholder="Username"
                                                   name="username" value="" required autofocus>
                                            <input type="password" class="form-control" placeholder="Password"
                                                   name="password" value="" required autocomplete="on">
                                            <input class="btn btn-lg btn-active btn-block" type="submit" value="Login">
                                            <div class="container">
                                                <br>
                                                <p>No account?<a href="/register">Create account</a>. </p>
                                                <br>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a role="presentation" class="active" data-toggle="modal" data-target="#register" href="#"><span
                            class="glyphicon glyphicon-pencil"></span>Sign up </a>
                    <h5>
                        <div class="modal fade" id="register" tabindex="-1" aria-labelledby="optimusModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close"><span
                                                aria-hidden="true">x</span></button>
                                        <h4 class="modal-title text-center signup-title" id="optimusModalLabel">Create
                                            an account</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <form method="post" action="/register">


                                                <input class="form-control" id="username" name="username"
                                                       type="text" placeholder="Username" value="">

                                                <input class="form-control" id="email" name="email" type="text"
                                                       placeholder="Email" value="">

                                                <input class="form-control" id="password" name="password"
                                                       placeholder="Password" type="password" value="">


                                                <input class="form-control" id="confirm" name="confirm"
                                                       placeholder="Confirm Password" type="password" value="">

                                                <label for="accept_tos">I accept the<a href="/about/tos"
                                                                                       target="blank">Terms of
                                                    Service</a>{#and <a href="/about/privacy-policy" target="blank">User
                                                        Policy</a>#}(Feb 20,2016)</label>

                                                <input id="accept_tos" name="accept_tos" type="checkbox"
                                                       value="y">


                                                <p><input class="btn btn-lg btn-active btn-block" type="submit"
                                                          value="Create Account"></p>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </h5>
                </h5>
            </div>
        </ul>
    </div>
</header>
<body>
{% block content %} {% endblock %}
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
</body>

</html>
