{% extends "bootstrap/base.html" %}
{% block title %}Optimus{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/app.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/font-awesome.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}
{% block navbar %}
    <header>
        <!-- container -->
        <div class="header">
            <div class="container">
                <!-- header -->
                <!-- logo -->
                <div class="logo">
                    <a href="{{ url_for('main.index') }}"><img src="{{ url_for('static',filename='images/logo.png') }}"
                                                               title="Optimus"/></a>

                </div>
                <!-- logo -->
                <!-- top-nav -->
                <div class="top-nav">
                    <span class="menu"> </span>
                    <ul class="nav navbar-nav navbar-right">


                        <li class="active"><a href="{{ url_for('main.index') }}">
                            <div class="glyphicon glyphicon-home"></div>
                            Home</a>
                        </li>
                        <li><a href="{{ url_for('auth.dashboard') }}"><span
                                class="fa fa-desktop"></span>&nbsp;&nbsp;Dashboard
                        </a></li>
                        {% if current_user.is_authenticated %}
                            </li>
                            <li><a href="{{ url_for('auth.logout') }}"><span
                                    class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Log Out</a></li>
                        {% else %}
                            <li><a href="{{ url_for('auth.login') }}"><span
                                    class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Admin</a></li>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                            <li><a href="{{ url_for('auth.signup') }}"><span
                                    class="glyphicon glyphicon-ok-circle"></span>&nbsp;&nbsp;{{ current_user.username }}
                            </a></li>
                        {% else %}
                            <li><a href="{{ url_for('auth.signup') }}"><span
                                    class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Sign up</a></li>
                        {% endif %}
                        <div class="clearfix"></div>

                    </ul>
                </div>
                <div class="clearfix"></div>
                <!-- top-nav -->
                <!-- script-for-menu -->
                <script>
                    $(document).ready(function () {
                        $("span.menu").click(function () {
                            $(".top-nav ul").slideToggle(200);
                        });
                    });
                </script>
                <!-- script-for-menu -->
            </div>
            <!-- header -->
        </div>
    </header>
{% endblock %} {% block content %}
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %} {% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
{% endblock %}
