{% extends "base.html" %}
{% block title %}
    Optimus - Home
{% endblock %}
{% block head %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/normalize.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style1.css') }}"/>
    <script src="{{ url_for('static',filename='js/modernizr.custom.js') }}"></script>
    {{ super() }}

{% endblock %}
{% block page_content %}

    <div id="container ">
        <div id="theSidebar" class="sidebar">
            <a class="twitter-timeline" href="https://twitter.com/hashtag/movies" data-widget-id="704962382775377920">#movies
                Tweets</a>
            <script>!function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + "://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, "script", "twitter-wjs");</script>
        </div>
        <div id="theGrid" class="main">
            <section class="grid">
                <header class="top-bar">
                    <h2 class="top-bar__headline">Latest Movies</h2>
                    <div class="filter">
                        <span>Filter by:</span>
                        <span class="dropdown">Science Fiction</span>
                    </div>
                </header>
                {% for movie in movies %}
                    <a class="grid__item" href="#">
                        <h2 class="title title--preview">{{ movie.title }}</h2>
                        <div class="loader"></div>
                        <span class="category">{{ movie.genre }}</span>
                        <div class="meta meta--preview">
                            <img class="meta__avatar" src="{{ url_for('static',filename=image) }}"
                                 alt="movie01"/>
                            <span class="meta__date"><i class="fa fa-calendar-o"></i> 9 Apr</span>
                            <span class="meta__agoing-time"><i class="fa fa-clock-o"></i>3 min ago</span>
                        </div>
                    </a>
                {% endfor %}

                <footer class="page-meta">
                    <span>Load more...</span>
                </footer>
            </section>
            <section class="content">
                <div class="scroll-wrap">
                    {% for movie in movies %}
                        <article class="content__item">
                            <span class="category category--full">{{ movie.genre }}</span>
                            <h2 class="title title--full">{{ movie.title }}</h2>
                            <div class="meta meta--full">
                                <img class="meta__avatar" src="{{ url_for('static',filename=image) }}"
                                     alt="{{ movie.title }}"/>
                                <span class="meta__author">{{ movie.director }}</span>
                                <span class="meta__date"><i class="fa fa-calendar-o"></i> 9 Apr</span>
                                <span class="meta__reading-time"><i class="fa fa-clock-o"></i> 3 min read</span>
                            </div>
                            <p>{{ movie.review }}.</p>

                        </article>
                    {% endfor %}
                </div>
                <button class="close-button"><i class="fa fa-close"></i><span>Close</span></button>
            </section>
        </div>
    </div>
    <!-- /container -->
    <script src="{{ url_for('static',filename='js/classie.js') }}"></script>
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}