<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}

    <hgroup>

        <h3>Create Account</h3>
    </hgroup>
    <form method="post" action="">
        <div class="group">
            <input type="text" value="{{ request.form.username }}" required><span class=" highlight"></span><span
                class="bar"></span>
            <label>Username</label>
        </div>
        <div class="group">
            <input type="email" value="{{ request.form.email }}" required><span class="highlight"></span><span class="
                                      bar"></span>
            <label>Email</label>
        </div>
        <div class="group">
            <input type="password" value="{{ request.form.password }}" required><span class="highlight"></span><span
                class="bar"></span>

            <label>Password</label>
        </div>
        <div class="group">
            <input type="password" value="{{ request.form.confirm_password }}" required><span
                class="highlight"></span><span class="bar"></span>
            <label>Confirm Password</label>
        </div>
        <button type="submit" class="button buttonBlue">Create account
            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>
    </form>
{% endblock %}